<!DOCTYPE html>
</html>
    <head>
        <title>Bloodbank Management System</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <header>
            <nav><ul>
                <li><a href="/donors">Donors</a></li>
                <li><a href="/employees">Employees</a></li>
                <li><a href="/bloodbanks">Blood Banks</a></li>
                <li><a href="/hospitals">Hospitals</a></li>
                <li><a href="/issues">Issues</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/donations">Donations</a></li>
          </ul></nav>
          <nav><ul class='second'>
            <li><a href="/donorsearch">Search by Donor</a></li>
            <li><a href="/bloodsearch">Search by Bloodtype</a></li>
            <li><a href="/ordersearch">Search Orders by Hospital</a></li>
            <li><a href="/issuesearch">Search Issues by Blood Bank</a></li>
            <li><a href="/bulksearch">Search Blood Types by Blood Bank</a></li>
            
        
        </ul></nav>  
        </header>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">