
<html>
        <head>
            
            <title><%=(locals.title) ? title :''%></title>
        
        </head>
        <body>
        
            <h2>Bloodbank Management System<h2>
        </body>
    
    </html>